<!-- Styles: _documents.scss -->


<section class="section-document">
  <div class="document">

    <!-- TITLE -->
    <div class="u-center-text u-margin-bottom-big">
      <h2 class="heading-secondary">
        LegatumX Privacy Policy
      </h2>
    </div>

    <!-- LAST UPDATED -->
    <div class="heading-tertiary u-margin-bottom-small">
      Last Updated: 6/20/2018
    </div>

    <!-- INTRO -->
    <p class="document--content paragraph">
      This Privacy Policy (the “Privacy Policy”) shall describe how LegatumX Inc. (“LegatumX”, “We”, “Our”,
      and/or “Us”) collects, uses, and shares information about you and applies to your use of LegatumX’s
      website (hereinafter the “Site”), and all content and services that LegatumX owns, controls, and makes
      available. By using the Site and LegatumX’s services, you agree to LegatumX’s Terms of Use and other
      activities as described by this Privacy Policy. If you do not agree with this Privacy Policy, you shall
      discontinue use of the Site and LegatumX’s services. This Privacy Policy is fully incorporated into
      LegatumX’s Terms of Use, and therefore governs your use of the Site and LegatumX’s services. By using
      the Site and LegatumX’s services, you fully accept this Privacy Policy.
    </p>

    <!-- INFO COLLECTION, USE, SHARING -->
    <div class="heading-tertiary u-margin-bottom-small">
      Information Collection, Use, and Sharing
    </div>
    <div class="document--content paragraph">
      <p>
        LegatumX only has access to/collects
        the personally identifiable information that you voluntarily give LegatumX via direct contact from you.
        LegatumX will not sell or rent this information to anyone without your prior consent.
      </p>
      <br>
      <p>
        LegatumX may use information about you, including your personal information, for any purposes
        consistent with LegatumX’s statements under this Privacy Policy or as is permissible under applicable law,
        including, but not limited to:
      </p>
      <br>
      <ol>
        <li>Managing the Site and LegatumX’s services;</li>
        <li>Processing and facilitating your transactions;</li>
        <li>Responding to inquiries and requests;</li>
        <li>Sending you notices, updates, changes to policy information, and support and administrative
            messages;</li>
        <li>Preventing fraud, breach of LegatumX’s policies and terms, and harm;</li>
        <li>Monitoring usage and activity; and</li>
        <li>Improving the Site and LegatumX’s services.</li>
      </ol>
      <br>
      <p>
        LegatumX may also share your information with any third parties in order to fulfill any services you
        purchase from LegatumX, and for any purpose consistent with this Privacy Policy or as permissible under
        applicable law, including, but not limited to:
      </p>
      <br>
      <ol>
        <li>Complying with the law, and where required, in response to lawful requests by public
            authorities, including to meet law enforcement requirements;</li>
        <li>Protecting the rights, property, and security of LegatumX, its services, or any third party;</li>
        <li>In connection with any proposed merger, purchase, sale, or any other type of business
            acquisition or combination of all or any portion of LegatumX’s assets, or transfer of all or a
            portion of LegatumX to another company;</li>
        <li>For purposes disclosed to you when you provide LegatumX with personal information; and</li>
        <li>With your consent or at your discretion.</li>
      </ol>
    </div>

    <!-- YOUR ACCESS TO AND CONTROL OVER INFORMATION -->
    <div class="heading-tertiary u-margin-bottom-small">
      Your Access to and Control Over Information
    </div>
    <p class="document--content paragraph">
      You may opt out of any future contacts from LegatumX at any time. You can do the following at any time
      by contacting us via the contact information provided below.
    </p>

    <!-- THIRD PARTY WEBSITES -->
    <div class="heading-tertiary u-margin-bottom-small">
      Third Party Websites
    </div>
    <p class="document--content paragraph">
      LegatumX may link to third party sites or services it does not control. If you click on one of those links,
      you will be taken to websites that LegatumX does not control. This Privacy Policy does not apply to the
      privacy practices of those websites. Read the privacy policies of those websites carefully.
      LegatumX is in no way responsible for third party websites.
    </p>

    <!-- REGISTRATION -->
    <div class="heading-tertiary u-margin-bottom-small">
      Registration
    </div>
    <p class="document--content paragraph">
      In order to use the Site and LegatumX’s services, a user must first complete the registration form. During
      registration a user is required to give certain information (such as name and email address). This
      information is used to contact you about the products/services on the Site in which you have expressed
      interest.
    </p>

    <!-- SECURITY -->
    <div class="heading-tertiary u-margin-bottom-small">
      Security
    </div>
    <p class="document--content paragraph">
      LegatumX takes precautions to protect your information. When you submit sensitive information via the
      Site, your information is protected both online and offline. Wherever LegatumX collects sensitive
      information (such as credit card data), that information is encrypted and transmitted to us in a secure way.
      While LegatumX uses encryption to protect sensitive information transmitted online, LegatumX also
      protects your information offline. Only persons or entities who need the information to perform
      a specific job (e.g. billing or customer service) are granted access to personally identifiable information.
      The computers/servers on which LegatumX stores personally identifiable information are kept in a secure
      environment.
    </p>

    <!-- COOKIES -->
    <div class="heading-tertiary u-margin-bottom-small">
      Cookies
    </div>
    <p class="document--content paragraph">
      LegatumX uses &quot;cookies&quot; on the Site. A cookie is a piece of data stored on a site visitor&#39;s hard drive to help
      LegatumX improve your access to the Site and identify repeat visitors. For instance, when LegatumX uses
      a cookie to identify you, you would not have to log in a password more than once, thereby saving time
      while on the Site. Cookies can also enable LegatumX to track and target the interests of users to enhance
      their experience on the Site. Usage of a cookie is in no way linked to any personally identifiable
      information on the Site.
    </p>

    <!-- YOUR CALIFORNIA PRIVACY RIGHTS -->
    <div class="heading-tertiary u-margin-bottom-small">
      Your California Privacy Rights
    </div>
    <div class="document--content paragraph">
      <p>
        If you live in California and are using the Site,
        you can request a list of the personal information that LegatumX collected and the information that
        LegatumX has shared with third parties for their marketing purposes. LegatumX will also give you a list of
        the third parties that have received your information. You can make a request one time each year.
      </p>
      <br>
      <p>
        To exercise your rights, you can call or email LegatumX with the information provided below. Mention in
        any email that you are making a “California Shine the Light” inquiry. LegatumX shall respond within 30
        days.
      </p>
    </div>

    <!-- DO NOT TRACK -->
    <div class="heading-tertiary u-margin-bottom-small">
      Do Not Track
    </div>
    <p class="document--content paragraph">
      LegatumX _______ track its customers over time and across third party websites to provide targeted
      advertising and therefore _____________ to Do Not Track (DNT) signals. However, some third party sites
      do keep track of your browsing activities when they serve you content, which enables them to tailor what
      they present to you.
    </p>

    <!-- MNORS -->
    <div class="heading-tertiary u-margin-bottom-small">
      Minors
    </div>
    <p class="document--content paragraph">
      The Site and LegatumX’s services are meant for adults aged 18 and older. LegatumX does not knowingly
      collect personally identifiable information from minors under 18. If you are a parent or legal guardian and
      think your minor under 18 has given LegatumX information, please contract use with the information
      provided below. Mention in any email that you are making a “COPPA Information Request.”
    </p>

    <!-- SURVEYS -->
    <div class="heading-tertiary u-margin-bottom-small">
      Surveys
    </div>
    <p class="document--content paragraph">
      From time-to-time the Site may request information via surveys. Participation in these surveys is
      completely voluntary and you may choose whether or not to participate and therefore disclose this
      information. Information requested may include contact information (such as name and shipping address),
      and demographic information (such as zip code, age level). Survey information will be used for purposes of
      monitoring or improving the use and satisfaction of the Site.
    </p>

    <!-- TRANSFER -->
    <div class="heading-tertiary u-margin-bottom-small">
      Transfer
    </div>
    <p class="document--content paragraph">
      Data and information collected by LegatumX may be transferred to or from the State of California. If you
      are accessing the Site or utilizing LegatumX’s services from outside of California, please be aware that
      information collected through the Site and LegatumX’s services may be transferred to, processed, stored
      and used in California. Data protection laws in California may be different from those of your state or
      country of residence. Your use of the Site and LegatumX’s services constitutes your consent to the transfer
      to and from, processing, usage, sharing, and storage of your information, including personal information, in
      California as set forth in this Privacy Policy.
    </p>

    <!-- CHANGES TO PRIVACY POLICY -->
    <div class="heading-tertiary u-margin-bottom-small">
      Changes to Privacy Policy
    </div>
    <p class="document--content paragraph">
      LegatumX reserves the right to revise and reissue this Privacy Policy at any time. Any changes will be
      effective immediately upon posting of the revised Privacy Policy. Your continued use of the Site and
      LegatumX’s services indicates your consent to the Privacy Policy then posted. When the Privacy Policy is
      updated the “Last Updated&quot; date above will be amended and the new Privacy Policy will be posted online.
      If the changes are material, LegatumX may provide you additional notice, to your e-mail address.
    </p>

    <!-- CONTACT US -->
    <div class="heading-tertiary u-margin-bottom-small">
      Contact Us
    </div>
    <p class="document--content paragraph">
      If you have any questions or feel that LegatumX is not abiding by this Privacy Policy, you should contact
      LegatumX immediately via telephone at [PHONE NUMBER] or via email at [EMAIL].
    </p>

  </div>

</section>
  