<section class="section-tours" id="section-products">
  <div class="u-center-text u-margin-bottom-big">
    <h2 class="heading-secondary">
      Most popular packages.
    </h2>
  </div>
  <div class="row">
    <div class="col-1-of-3">
      <div class="card">
        <div class="card__side card__side--front">
          <div class="card__picture card__picture--1">
            &nbsp;
          </div>
          <h4 class="card__heading">
            <span class="card__heading-span card__heading-span--1">
              Blockchain Last Rites
            </span>
          </h4>
          <div class="card__details">
            <ul>
              <li>Best for Singles with no Children</li>
              <li>Up to 6 Bequests</li>
              <li>Smart Contract Technology</li>
              <li>Viewable activity log</li>
              <li>Indestructible without consent</li>
            </ul>
          </div>
        </div>
        <div class="card__side card__side--back card__side--back-1">
          <div class="card__cta">
            <div class="card__price-box">
              <p class="card__price-only">Only</p>
              <p class="card__price-value">$</p>
            </div>
            <a href="#popup" class="btn btn--white">Get Started!</a>
          </div>
        </div>
      </div>
    </div>

      <div class="col-1-of-3">
        <div class="card">
          <div class="card__side card__side--front">
            <div class="card__picture card__picture--2">
              &nbsp;
            </div>
            <h4 class="card__heading">
              <span class="card__heading-span card__heading-span--2">
                Advanced Will & Trust
              </span>
            </h4>
            <div class="card__details">
              <ul>
                <li>All Previous Benefits</li>
                <li>Best for Homeowners</li>
                <li>Unlimited Bequests</li>
                <li>'Living' Will/Advance Directive</li>
                <li>Up to 5 free Codicils</li>
              </ul>
            </div>
          </div>
          <div class="card__side card__side--back card__side--back-2">
            <div class="card__cta">
              <div class="card__price-box">
                <p class="card__price-only">Only</p>
                <p class="card__price-value">$$</p>
              </div>
              <a href="#popup" class="btn btn--white">Get Started!</a>
            </div>
          </div>
        </div>
      </div>
  
    <div class="col-1-of-3">
      <div class="card">
        <div class="card__side card__side--front">
          <div class="card__picture card__picture--3">
            &nbsp;
          </div>
          <h4 class="card__heading card__heading--3">
            <span class="card__heading-span card__heading-span--3">
              Estate Management Suite
            </span>
          </h4>
          <div class="card__details">
            <ul>
              <li>All Previous Benefits</li>
              <li>Best for complicated Wills</li>
              <li>Unlimited Codicils</li>
              <li>Optional Attorney Support</li>
              <li>Discount on future Estate Products</li>
            </ul>
          </div>
        </div>
        <div class="card__side card__side--back card__side--back-3">
          <div class="card__cta">
            <div class="card__price-box">
              <p class="card__price-only">Only</p>
              <p class="card__price-value">$$$</p>
            </div>
            <a href="#popup" class="btn btn--white">Get Started!</a>
          </div>
        </div>
      </div>
    </div>
  </div>

    <div class="u-center-text u-margin-top-huge">
      <!-- <a href="#" class="btn btn--dark btn--animated"> -->
      <a href="#" class="btn btn--gradient btn--animated">
        Discover more Options
      </a>
    </div>
  
</section>
