// COLORS
$--color-primary:#eb2f64;
$--color-primary-light:#FF3366;
$--color-primary-dark: #BA265D;

$--color-grey-light-1: #faf9f9;
$--color-grey-light-2: #f4f2f2;
$--color-grey-light-3: #f0eeee;
$--color-grey-light-4: #ccc;

$--color-grey-dark-1: #333;
$--color-grey-dark-2: #777;
$--color-grey-dark-3: #999;

$--shadow-dark: 0 2rem 6rem rgba(0,0,0,.3);
$--shadow-light: 0 2rem 5rem rgba(0,0,0,.16);

$--line: 1px solid $--color-grey-light-2;


$font-primary: "Lato", sans-serif;
// $font-primary: 'Nunito', sans-serif;
// $font-display: 'Josefin Sans', sans-serif;

// $color-gold: #c69963;
// $color-gold-dark: #B28451;

// Note: referenced in 'mixins' file
$gradient-1: #bd639f;
$gradient-2: #583191;
// lightened 10%
$gradient-1-light: #d77db9;
$gradient-2-light: #724bab;


// Used for cards
$color-primary: #969df5;
$color-primary-light:#c5cdf6;
$color-primary-dark: #485194;

$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;

$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;


$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;
$color-grey-dark: #777;
$color-grey-dark-1: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

$color-alert: red;
$danger-1: #cd5c5c;   // 'indianred'
$danger-2: #b22222;   // 'firebrick'
// lightened 10%
$danger-1-light: #e77676;
$danger-2-light: #cc3c3c;

$color-white: #fff;
$color-black: #000;

// FONT
$default-font-size: 1.6rem;

// RESPONSIVE BREAKPOINTS
$bp-largest: 75em; //1200px
$bp-large: 68.75em; //1100px
$bp-medium: 56.25em; //900px
$bp-small: 37.5em; //600px
$bp-smallest: 31.25em; //500px

// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;

// NAVBAR
$navbar-height: 7rem;
$navbar-padding-left: 3rem;

// NAVIGATION
$navigation-height: 7rem;
$navigation-width: 7rem;

// FORMS
$background-color: #ECEFF1;
