<div class="container">
  <ul class="nav" id="nav">

    <li class="nav__item nav__item--logo">
      <a id="logo-container" class="nav__link nav__link--logo">
        <img src="../../../../assets/img/legatumx_face.png" alt="Logo" class="nav__icon">
      </a>
    </li>

    <li class="nav__item nav__item--2">
      <a class="nav__link nav__link--2">DASHBOARD</a>
    </li>
    <li class="nav__item nav__item--3">
      <a class="nav__link nav__link--3">FAQ</a>
    </li>
    <li class="nav__item nav__item--4">
      <a class="nav__link nav__link--4">LOGIN</a>
    </li>
    <li class="nav__item nav__item--navigation">
      <!-- <app-navigation></app-navigation> -->
    </li>

  </ul>
</div>
