<section class="section-features">
  <div class="row">
    <div class="col-1-of-4">
      <div class="feature-box">
        <i class="feature-box__icon icon-basic-world"></i>
        <h3 class="heading-tertiary u-margin-bottom-small">Globally Maintained</h3>
        <p class="feature-box__text">
          Blockchains are 100% decentralized and publicly maintained. You don't need to be on our site to know your document is safe!
        </p>
      </div>
    </div>

    <div class="col-1-of-4">
      <div class="feature-box">
        <i class="feature-box__icon icon-basic-chronometer"></i>
        <h3 class="heading-tertiary u-margin-bottom-small">Permanent</h3>
        <p class="feature-box__text">
          Anything stored on a Blockchain exists forever. Say goodbye to lost or accidentally destroyed documents of importance. 
        </p>
      </div>
    </div>

    <div class="col-1-of-4">
      <div class="feature-box">
        <i class="feature-box__icon icon-basic-lock"></i>
        <h3 class="heading-tertiary u-margin-bottom-small">Secure</h3>
        <p class="feature-box__text">
          Smart Contracts ensure only the creator of a document on the blockchain has the permission to modify its contents.   
        </p>
      </div>
    </div>

    <div class="col-1-of-4">
      <div class="feature-box">
        <i class="feature-box__icon icon-basic-link"></i>
        <h3 class="heading-tertiary u-margin-bottom-small">Legally Binding</h3>
        <p class="feature-box__text">
          Blockchain Smart Contracts are legally binding and recognized across several states, with many more states to come. 
        </p>
      </div>
    </div>
  </div>
</section>