@import '../sass/abstracts/variables.scss';


.content {
  min-height: -webkit-calc(100vh - #{$navbar-height});
  min-height: -moz-calc(100vh - #{$navbar-height});
  min-height: calc(100vh - #{$navbar-height});
}
