@import "../abstracts/_variables.scss";
@import "../abstracts/_mixins.scss";
@import "../base/_typography.scss";
@import "../base/_utilities.scss";


.section-legal {
  padding: 15rem 0;
  background-image: linear-gradient(to right bottom, $color-primary-light, $color-primary-dark);

  @include respond(tab-port) {
    padding: 10rem 0;
  }
}

.legal {
  background-color: $color-white;
  margin-top: -8rem;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba($color-black, .3);
  padding: 10rem;

  &__disclosure {

    &--content {
      color: inherit;

      ol {
        list-style-type: lower-alpha;
        padding-left: 6rem;
      }
    }
  }
}
