<section class="section-start">
  <div class="row">
    <div class="start">
      <div class="start__form">

        <form (ngSubmit)="onSubmit()" class="form">
          <div class="u-center-text u-margin-bottom-medium">
            <h2 class="heading-secondary">
              <span *ngIf="!this.subscribed">Stay in touch for new offerings!</span>
              <span *ngIf="this.subscribed">Thank you for subscribing!</span>
            </h2>
          </div>

          <div *ngIf="!this.subscribed">
            <div class="form__group">
              <input [(ngModel)]="name" name="name" type="text" class="form__input form__input--small" placeholder="Full Name" id="name" required>
              <label for="name" class="form__label">Full Name</label>
            </div>
            <div class="form__group">
              <input [(ngModel)]="email" name="email" type="email" class="form__input form__input--small" placeholder="Email Address" id="email" required >
              <label for="email" class="form__label">Email Address</label>
            </div>

            <p class="paragraph u-margin-bottom-medium">
            We respect your privacy, and will keep any messages to a minimum. 
            </p>

            <div class="form__group">
              <button type="submit" class="btn btn--dark" >
                Next Step &rarr;
              </button>
            </div>
          </div>
        </form>

      </div>
    </div>
  </div>
</section>
